
.jumbotron {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1510975203040-1c35fa924809?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f88ea2799975f7e2b0cd4a6815aa5bb1&auto=format&fit=crop&w=1050&q=80') ;
    background-size: cover;
    color: #ffffff;
    height: 400px;
  }
  .napis{
     text-align: center;
      align-items: center;
   
  }
  .jumbotron h2 {
    font-size: 70px;
    font-weight: 300;
    margin: 0;
    color: #fff;
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-success {
    font-size: 20px;
    border-radius: 2px;
    border: 0px;
    text-shadow: none;
  }
   
  #photo{
    
    width: 500px;
    height: 300px;

 }